#body{
  color: #fff;
}
.About-Hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 20px 20px;
  color: #fff;
  height: 600px;
}

.About1{
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.About1 h1{
  margin-bottom: 0;
}

.About1 p{
  text-align: left;
  max-width: 80%;
}

.About-Button button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 25px;
  background: #fff;
  border: none;
  border-radius: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1)
}
.About-Button button:hover{
  background-color: black;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.About-Image{
  display: flex;
  flex: 1 2;
}

.About-Image img{
  max-width: 100%;
  max-height: 405px;
  border-radius: 20px;
}

@media (max-width: 700px){
  .About-Hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    padding-top: 120px;
  }

  .About1{
    margin-bottom: 50px;
  }

  .About1 h1{
    margin-top:0;
  }

  .About-Image{
    display: flex;
    justify-content: center;
  }

  .About-Image img{
    max-width: 90%;
    max-height: 405px;
    border-radius: 20px;
  }

}

.Services{
  color: #fff;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
}

.Services h2{
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.Services-Stack{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Service{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Icon-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D8D8D8;
  width: 100px;
  height: 90px;
  border-radius: 20px;
}

.Icon-Container img{
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 700px){
  .Icon-Container{
    width: 60px;
    height: 50px;
    border-radius: 10px;
  }

  .Icon-Container img{
    max-width: 40px;
    max-height: 40px;
  }

}

.Quote{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Quote p{
  text-align: center;
  max-width: 350px;
}

.Profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Profile img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.Profile h3{
  margin-left: 20px;
}
.Profile h4{
  margin-left: 10px;
  color: #9B9B9B;
}
