.Contact-Hero{
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url('../images/wallpaper1.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.Contact-Map-Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.Map-Container{
  width: 800px;
  height: 400px;
}


.Contact-Map-Section img{
  margin-top: 120px;
  max-width: 80%;
  max-height: 100%;
  border-radius: 20px;
}

.Contact-Address{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Contact-Info{
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 40px 200px 0 230px;
  justify-content: space-between;
}

.Contact-Info-Details{
  display: flex;
  flex-direction: column;
}

.Contact-Info-Details-Block{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px
}

.Contact-Info-Details-Block h4{
  margin: 0;
}
.Contact-Info-Details-Block p{
  color: #9B9B9B;
  margin: 0;
}

.Contact-Info-Form{
  max-width: 400px;
  margin-bottom: 150px;
}
.Contact-Info-Form input{
  color: #fff;
}
.Contact-Info-Form textarea{
  color: #fff;
}


.Name input{
  background: none;
  border: 1px solid #979797;
  height: 25px;
  width: 180px;
  padding-left: 5px;
  margin-right: 5px;
}
.Phone input{
  background: none;
  border: 1px solid #979797;
  height: 25px;
  width: 180px;
  padding-left: 5px;
}
.Email input{
  margin-top: 10px;
  background: none;
  border: 1px solid #979797;
  height: 25px;
  width: 372px;
  padding-left: 5px;
}

.Contact-Message textarea{
  height: 100%;
  width: 380px;
  margin-top: 10px;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid #979797;
  background: none;
  padding: 5px;
}

@media (max-width: 700px){
  .Contact-Info{
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .Contact-Message textarea{
    height: 170px;
  }

  .Contact-Info{
    padding: 0;
  }

  .Contact-Info-Form{
    margin-bottom: 0;
    margin-top: 10px;
  }

  .Name input{

    width: 178px;

  }
  .Phone input{
    width: 178px;
  }

  .Map-Container{
    max-width: 400px;
    max-height: 400px;
  }
}

.Form-Button{
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Form-Button:hover{
background-color: #000;
color: #fff;
transform: translateY(-3px);
box-shadow: 0 20px 40px rgba(0,0,0, 0.5);
}
