.Faq-Hero{
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url('../images/wallpaper1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  padding: 150px 20px 20px;
  color: #fff;
  height: 100%;
}

.Faq-Hero-Section{
  display: flex;
  justify-content: center;
}

.Faq-Hero-title{
text-align: center;
}

.Faq-Quest-Section{
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
}

.Faq-Quest-Section h3{
  color: #4A90E2;
  margin-bottom: 5px;
}
.Faq-Quest-Section p{
  margin-top: 0;
}

@media (max-width: 700px){
  .Faq-Quest-Section h3{
    font-size: 14px;
  }
  .Faq-Quest-Section p{
    font-size: 14px;
  }

  .Faq-Quest-Section{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  .Faq-Hero{
    padding: 120px 20px 20px;
  }
}
