.Details{
  background-color: #000;
  color: #fff;
  padding: 120px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.Prop-Details{
  flex: 2 1;
  flex-direction: column;
  padding: 20px;
}

.Prop-Details img{
  max-width: 800px;
  max-height: 600px;
  border-radius: 20px;
}


.Map{
  height: 10;
  flex:1 2;
  flex-direction: column;
  padding: 20px;

}
.Map img{
  max-width: 100%;
  max-height: 405px;
  border-radius: 20px;
}

.Prop-Info{
  display: flex;
  max-width: 800px;
  flex-direction: row;
  justify-content: space-between;
}

.Prop-Info1 h1{
  margin-bottom: -20px;
}

.Prop-Info1 h3{
  color: #9B9B9B;
}
.Prop-Info2 h1{
  margin-bottom: -20px;
}

.Prop-Info2 h3{
  color: #4A90E2;
}


.Prop-Extra{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-top: 50px;
}

.Prop-ExtraInfo{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.Prop-ExtraInfo h3{
  margin: 0;
  //color: #9B9B9B;
}

.Prop-ExtraBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Prop-ExtraBlock h3{
  margin-left: 11px;
}



.Description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.Description h4{
  text-align: left;
  margin-left: 50px;
}
