.Details{
  background-color: #000;
  color: #fff;
  padding: 120px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.Prop-Details-Section{
  flex: 2 1;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.Prop-Details-Section img{
  width: 770px;
  height: 550px;
  object-fit: cover;
  border-radius: 20px;
}

.SliderContainer{
  width: 770px;
  height: 550px;
}


.Map{
  height: 10;
  flex:1 2;
  flex-direction: column;
  padding: 20px;
}

.Map img{
  max-width: 100%;
  max-height: 405px;
  border-radius: 20px;
}

.Prop-Map-Container{
  width: 100%;
  height: 400px;
}

.Prop-Info{
  display: flex;
  max-width: 800px;
  flex-direction: row;
  justify-content: space-between;
}

.Prop-Info1 h1{
  margin-bottom: -20px;
}

.Prop-Info1 h3{
  color: #9B9B9B;
}
.Prop-Info2 h1{
  margin-bottom: -20px;
}

.Prop-Info2 h3{
  color: #4A90E2;
}


.Prop-Extra{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-top: 50px;
}

.Prop-ExtraInfo{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.Prop-ExtraInfo h3{
  margin: 0;
  //color: #9B9B9B;
}

.Prop-ExtraBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Prop-ExtraBlock h3{
  margin-left: 11px;
}

.Description{
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.Description h4{
  text-align: left;
  margin-left: 50px;
  color: #9B9B9B;
}

.Map-Info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Map-Info h3{
  margin-left:10px;
}

.material-icons{
  color: #4A90E2;
}

.Map-Button-Container{
  text-align: center;
}
.Map-Button{
  padding: 8px 20px;
  background: white;
  border-radius: 20px;
  border: none;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.Map-Button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #4A90E2;
  transform: translateY(-3px);
  box-shadow: rgba(255, 0, 0, 0.25);
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

@media (max-width: 750px){
  .Details{
    display: flex;
    flex-direction: column;
  }
  .Prop-Details-Section img{
    max-width: 100%;
    max-height: 300px;
    border-radius: 20px;
  }

  .SliderContainer{
    max-width: 100%;
    max-height: 300px;
  }

  .Prop-Map-Container{
    width: 100%;
    height: 300px;
  }
  .Prop-Info1 h1{
    font-size: 20px;
  }
  .Prop-Info1 h3{
    font-size: 18px;
  }
  .Prop-Info2 h1{
    font-size: 20px;
  }
  .Prop-Info2 h3{
    font-size: 18px;
  }

  .Prop-Extra{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 20px;
  }

  .Prop-ExtraInfo{
    margin: 0;
  }

  .Prop-ExtraInfo h3{
    font-size: 18px;
  }

  .Description h3{
    font-size: 18px;
  }
  .Description h4{
    font-size: 15px;
  }
}
