.Prop-Hero{
  padding: 20px;
  height:100%
}

.Prop-Banner{
  background: url('../images/propBanner.jpg');
    height: 286px;
    width: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.Land-Banner{
  background: url('../images/heroLandBanner.jpg');
    height: 286px;
    width: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}


.Prop-Hero-Text{
  padding-top: 20px;
  padding-left: 50px;
  font-size: 25px;
  font-weight: bold;
}
.Prop-Title{
  color: #fff;
}
.Prop-Title h3{
  margin-bottom: 0;
  font-size: 30px;
}
.Prop-Title p{
  margin: 0;
  color: #9B9B9B;
  font-size: 25px;
}

.Prop-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Prop-Section{
  margin: 20px 0;
  height: 225px;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: 0.8s cubic-bezier(0.2,0.8,0.2,1);
}

.Prop-Section:hover{
  transform: scale(1.1, 1.1);
}


.Center{
  height: 225px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.Prop-Details{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  height: 50px;
  padding:10px 15px;
  margin: 150px 20px 0;
}



.Prop-Details-Top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Prop-Details-Top p{
  color: #4A90E2;
  font-size: 18px;
}

.Prop-Details-Bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Prop-Details-Bottom p{
  color: #9B9B9B;
  font-size: 15px;
}
.Prop-Details-Bottom h4{
  color: #000;
  font-size: 15px;
}



@media (max-width: 700px){
  .Prop-Banner{
    height: 150px;
    width: 100%;
  }
  .Land-Banner{
    height: 150px;
    width: 100%;
    margin-top: 60px;
  }
  .Prop-Hero-Text{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .Prop-Title h3{
    font-size: 18px;
  }
  .Prop-Title p{
    font-size: 15px;
  }



  .Prop-Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .Prop-Section{
    margin: 20px 20px 20px;
    height: 170px;
    width: 200px;
  }

  .Center{
    height: 170px;
    width: 200px;
  }
  .Prop-Details{
    margin: 100px 0 0 15px;
    width: 140px;
    height: 30px;
    border-radius: 15px;
  }

  .Prop-Details-Top p{
    font-size: 12px;
  }
  .Prop-Details-Bottom p{
    font-size: 10px;
  }
  .Prop-Details-Bottom h4{
    color: #000;
    font-size: 10px;
  }




}
