.Header{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  //background: black;
  display: grid;
  grid-template-areas: "logo nav"
}
.Logo{
  grid-area: "logo";
  margin: 0 0 0 20px;
  transition: 0.1s
}

.Logo:hover{
  transform: scale(1.2)
}

.Nav{
  max-width: 800px;
  //margin: 0 auto;
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-items:  center;
  //padding: 0 5px;
}

.Header a{
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.Burger{
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}

@media (max-width: 700px){
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .Nav{
    grid-template-rows: repeat(6, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;

    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .Burger{
    display: inline;
  }
}
