.Header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  //background: black;
}

.HeaderGroup{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-items:  center;
}

.Header a{
  color: white;
  font-weight: 200;
  font-size: 15px;
}

@media (max-width: 640px){
  .HeaderGroup{
    grid-template-columns: repeat(1, auto)
  }
  .Header a:nth-child(n+2){
    display: none;
  }
}
