@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap');
html {
  /*font-family: -apple-system, sans-serif;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #5534F5;
  text-decoration: none;
  font-weight: 600;
}

.Hero{
  background: linear-gradient(
      rgba(140, 20, 252, 0.55),
      rgba(140, 20, 252, 0.55)
    ), url('../images/wallpaper1.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
}

.HeroGroup{
  margin: 0 20px;
  max-width: 500px;
  padding: 100px 20px;
  text-align: left
}

.Hero h1{
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 60px;
}

.Hero p{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.ContactButton{
  background-color: #FFD7A0;
  border-width: 0;
  padding: 9px 20px;
  border-radius: 10px;
}

.ContactUsButton{
  padding: 9px 20px;
  border-width: 0;
  background-color: white;
  border-radius: 20px;
  font-size: 10px;
}
