@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap');
html {
  /*font-family: -apple-system, sans-serif;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #2d3436;
}
body {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #5534F5;
  text-decoration: none;
  font-weight: 600;
}

.Hero{
  background: linear-gradient(
      rgba(140, 20, 252, 0.55),
      rgba(140, 20, 252, 0.55)
    ), url('../images/wallpaper1.jpg');
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeroGroup{
  margin: 0 20px;
  max-width: 500px;
  padding: 100px 20px;
  text-align: left
}

@media (max-width: 640px){
  .Hero{
    flex-direction: column;
    justify-content: center;
    height: 920px;
  }
  .HeroGroup{
  padding: 60px 20px;
  }
}

.Hero h1{
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 60px;
}

.Hero p{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.ContactButton{
  background-color: #FFD7A0;
  border-width: 0;
  padding: 9px 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.ContactButton:hover{
  transform: scale(1.1);
}

.ContactUsButton{
  padding: 9px 20px;
  border-width: 0;
  background-color: white;
  border-radius: 20px;
  font-size: 10px;
  transition: 0.1s
}

.ContactUsButton:hover{
  transform: scale(1.1);
}

.Form{
  background: #fff;
  margin: 100px 40px;
  color: purple;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 640px){
  .Form{
    margin: 0 20px;
    max-width: 250px;
  }
}

.Form input{
  width:250px;
  height: 30px;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: vertical;
}

.Form p{
  color: purple;
  margin-bottom: 0;
}

.Form button{
  padding: 8px 20px;
  border: none;
  background: purple;
  color: #fff;
}

.Message input{
  height: 90px;
  display: flex;
  align-items: flex-start;
}
