@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap');
html {
  /*font-family: -apple-system, sans-serif;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  //background-color: #2d3436;
  background-color: #000;
}
body {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #5534F5;
  text-decoration: none;
  font-weight: 600;
}

.Layout{
  display: flex;
  flex-wrap: wrap;
}

.Hero{
  /*background: linear-gradient(
      rgba(80, 189, 162, 0.5),
      rgba(80, 189, 162, 0.5)
    ), url('../images/wallpaper1.jpg');*/
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url('../images/wallpaper1.jpg');
  height: 700px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeroGroup{
  margin: 20px 20px;
  max-width: 720px;
  padding: 120px 20px;
  text-align: left;
}

.Hero h1{
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 120px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAni;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
}

@media (max-width: 750px){
  .Hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 980px;
  }
  .HeroGroup{
    margin-top: 20px;
    padding: 80px 20px 20px;
    max-width: 500px;
  }
  .Hero h1{
    font-size: 60px;
  }
}

.Hero p{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.ContactButton{
  background-color: #FFD7A0;
  border-width: 0;
  padding: 8px 10px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
  animation: HeroAni;
  animation-duration:2s;
}

.ContactButton:hover{
  background: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transform: translateY(-3px);
}

@keyframes HeroAni {
  0%{
    opacity: 0;
    transform: translatex(-100px);
  }
  100%{
    opacity: 1;
    transform: translatex(0);
  }
}

.ContactUsButton{
  padding: 9px 30px;
  border-width: 0;
  background-color: white;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.ContactUsButton:hover{
  background: black;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transform: translateY(-3px);
}

.Form{
  background: #fff;
  margin: 120px 40px;
  color: purple;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 640px){
  .Form{
    margin: 0 20px;
    max-width: 250px;
    align-self: center;
  }
}

.Form input{
  width:250px;
  height: 30px;
  margin-bottom: 15px;
  box-shadow: none !important;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid #f0f0f0;
  background-color: #f8f8f8;
  padding: 0 5px;
}

.Form p{
  color: purple;
  margin-bottom: 0;
}

.Form button{
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background: purple;
  color: #fff;
}

.Message textarea{
  height: 120px;
  width: 250px;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid #f0f0f0;
  background-color: #f8f8f8;
  padding: 0 5px;
}

.Featured{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 40px 0;
}

/*.Unique{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 40px 0;
}*/

.Img{
   width: 250px;
   height: 250px;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   border-radius: 10px;
   transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Img:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1)
}

.Tag{
  position: absolute;
  z-index: 1;
  margin: -20px 20px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 80px;
  padding: 8px 20px;

}

.Featured ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline-start: 20px;
  //justify-content: center;
  //align-items: center;
  //text-align:center;
  //padding-left:0;
  //margin-left: 0;
}

.Featured li{
  margin: 0 30px;
}
.Featured h5{
  margin: 0 20px 10px;
  color: #9B9B9B;
}



@media (max-width: 700px){
{/*  .Featured ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    margin: 0;
  }
*/}

  .Featured ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-left: 0;
  }

  .Featured li{
    //margin-bottom: 20px;
    margin: 10px;
  }

  .Img{
    width: 200px;
    height: 180px;
  }
}

.Featured h2{
  font-size: 21px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.Featured h5{
  font-size: 16px;
}

.Price{
  margin-top: 0;
  margin-left: 20px;
}

.AboutUs{
  /*background: linear-gradient(
      rgba(140, 20, 252, 0.55),
      rgba(140, 20, 252, 0.55)
    ), url('../images/about1.jpg');*/
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url('../images/about1.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AboutGroup{
  display: block;
  margin: auto;
  max-width: 400px;
  color: white;
}

.AboutGroup button{
  padding: 8px 20px;
  border: none;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.AboutGroup button:hover{
  background-color: #000;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width:640px){
  .AboutUs{
    display: flex;
    flex-direction: column;
    height: 920px;
    padding: 20px;
  }
  .AboutGroup{
    margin-bottom: 0;
  }
  .AboutImg{
    width: 350px;
    height: 400px;

  }
}

.AboutImg{
  background: url('../images/about.jpg');
  background-position: center;
  background-size: cover;
  display: block;
  margin: auto;
  width: 350px;
  height:400px;
  border-radius: 20px;
}

.Help{
  background: linear-gradient(
      rgba(140, 20, 252, 0.55),
      rgba(140, 20, 252, 0.55)
    ), url('../images/help.jpg');
    height: 720px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px){
  .Help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1024px;
    padding: 0;
    margin: 0;
  }
  .HelpGroup{
    margin: 0;
  }
  .HelpCard{
    padding: 0;
    margin: 0;
  }

  .HelpCard p{
    font-size: 14px;
    margin: 0;
    padding: 0;
    word-wrap: normal;
  }

  .HelpCard li{
    margin: 20px 20px;

  }
  .HelpCard ul{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.HelpGroup{
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.HelpCard{
  //background: #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
}

.HelpCard p{
 word-wrap: break-word;
}

.HelpCard ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align:center;
}

.HelpCard li{
  max-width: 300px;
  max-height: 400px;
  margin: 20px 30px;
}

.HelpCard button{
  margin-top: 10px;
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.HelpCard button:hover{
  cursor: pointer;
  background: #000;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.Finder{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //max-width: 300px;
  height: 400px;
  padding: 0 20px;
}

@media (max-width: 640px){
  .Finder h1{
    text-align: center;
  }
}

.Finder p{
  display: flex;
  align-items: center;
}

.Finder button{
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.2,0.8,0.2,1);
}

.Finder button:hover{
  cursor: pointer;
  background: #000;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.Footer{
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #222f3e;
  height: 80px;
}

/* About */
.About-Hero{
  background: linear-gradient(
      rgba(140, 20, 252, 0.55),
      rgba(140, 20, 252, 0.55)
    ), url('../images/wallpaper1.jpg');
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.About-title{
  color: white;
  padding: 200px 20px;
}
