@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap');
html {
  /*font-family: -apple-system, sans-serif;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #5534F5;
  text-decoration: none;
  font-weight: 600;
}

.Hero{
  background: url('../images/wallpaper1.jpg');
}
